In [4]:
import pandas as pd
car=pd.Series(["Honda","BMW","Merceedees"],index=['1','2','3'])
color=pd.Series(["Red","Blue","Black"])
hey=pd.DataFrame({"Cars":car,"Color":color})
hey

         Cars  Color
1       Honda    NaN
2         BMW    NaN
3  Merceedees    NaN
0         NaN    Red
1         NaN   Blue
2         NaN  Black