In [91]:
import pandas as pd
df=pd.read_csv('/home/student/Desktop/car-sales-missing-data.csv')
df.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   4000.0
1   Honda    Red   87899.0    4.0   5000.0
2  Toyota   Blue       NaN    3.0   7000.0
3     BMW  Black   11179.0    5.0  22000.0
4  Nissan  White  213095.0    4.0   3500.0

In [92]:
df.fillna(method='pad',inplace=True)

In [93]:
df.isnull().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [94]:
x=df.iloc[:,:-1]
y=df.iloc[:,4]

In [95]:
x

     Make Colour  Odometer  Doors
0  Toyota  White  150043.0    4.0
1   Honda    Red   87899.0    4.0
2  Toyota   Blue   87899.0    3.0
3     BMW  Black   11179.0    5.0
4  Nissan  White  213095.0    4.0
5  Toyota  Green  213095.0    4.0
6   Honda  Green  213095.0    4.0
7   Honda   Blue  213095.0    4.0
8  Toyota  White   60000.0    4.0
9  Toyota  White   31600.0    4.0

In [96]:
y

0     4000.0
1     5000.0
2     7000.0
3    22000.0
4     3500.0
5     4500.0
6     7500.0
7     7500.0
8     7500.0
9     9700.0
Name: Price, dtype: float64

In [97]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("Make,Colour",OneHotEncoder(),[0,1])],remainder="passthrough")
x=ct.fit_transform(x)

In [98]:
x

array([[0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 1.50043e+05,
        4.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 8.78990e+04,
        4.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 8.78990e+04,
        3.00000e+00],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.11790e+04,
        5.00000e+00],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 2.13095e+05,
        4.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 2.13095e+05,
        4.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 2.13095e+05,
        4.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 2.13095e+05,
        4.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 6.00000e+04,
        4.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 3.16000e+04,
        4.00000e+00]])

In [99]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [100]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [101]:
y_pred=regressor.predict(x_test)
x_pred=regressor.predict(x_train)
y_pred

array([4713.90444146, 3498.22637915])

In [102]:
print('Train Score:', regressor.score(x_train,y_train) )
print('Test Score:', regressor.score(x_test,y_test) )

Train Score: 0.9980774935781943
Test Score: 0.9084834883890347