In [14]:
import pandas as pd
df=pd.read_csv('/home/student/Desktop/car-sales-missing-data.csv')
df.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   4000.0
1   Honda    Red   87899.0    4.0   5000.0
2  Toyota   Blue       NaN    3.0   7000.0
3     BMW  Black   11179.0    5.0  22000.0
4  Nissan  White  213095.0    4.0   3500.0

In [15]:
df.isnull().sum()

Make        1
Colour      1
Odometer    4
Doors       1
Price       2
dtype: int64

In [16]:
df.fillna(method='pad',inplace=True)

In [17]:
df.isnull().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [20]:
x=df.iloc[:,:-1]
y=df.iloc[:,4]
y

0     4000.0
1     5000.0
2     7000.0
3    22000.0
4     3500.0
5     4500.0
6     7500.0
7     7500.0
8     7500.0
9     9700.0
Name: Price, dtype: float64

In [38]:
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
label_encoder=LabelEncoder()
label_encoder.fit(df['Make'])

LabelEncoder()

In [30]:
label_encoder.transform(df['Make'])

array([3, 1, 3, 0, 2, 3, 1, 1, 3, 3])

In [31]:
df.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   4000.0
1   Honda    Red   87899.0    4.0   5000.0
2  Toyota   Blue   87899.0    3.0   7000.0
3     BMW  Black   11179.0    5.0  22000.0
4  Nissan  White  213095.0    4.0   3500.0

In [32]:
x

     Make Colour  Odometer  Doors
0  Toyota  White  150043.0    4.0
1   Honda    Red   87899.0    4.0
2  Toyota   Blue   87899.0    3.0
3     BMW  Black   11179.0    5.0
4  Nissan  White  213095.0    4.0
5  Toyota  Green  213095.0    4.0
6   Honda  Green  213095.0    4.0
7   Honda   Blue  213095.0    4.0
8  Toyota  White   60000.0    4.0
9  Toyota  White   31600.0    4.0

In [34]:
x['Make']=label_encoder.fit_transform(x['Make'])

In [36]:
x['Colour']=label_encoder.fit_transform(x["Colour"])

In [37]:
x

   Make  Colour  Odometer  Doors
0     3       4  150043.0    4.0
1     1       3   87899.0    4.0
2     3       1   87899.0    3.0
3     0       0   11179.0    5.0
4     2       4  213095.0    4.0
5     3       2  213095.0    4.0
6     1       2  213095.0    4.0
7     1       1  213095.0    4.0
8     3       4   60000.0    4.0
9     3       4   31600.0    4.0

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [53]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [54]:
y_pred=regressor.predict(x_test)
x_pred=regressor.predict(x_train)
y_pred

array([ 3226.5874245, 10757.0484662])

In [55]:
print('Train Score:', regressor.score(x_train,y_train) )
print('Test Score:', regressor.score(x_test,y_test) )

Train Score: 0.993363623009766
Test Score: -28.52743242541577